[Unit]
Description=SPROUT Mental Health Tamagotchi
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/SPROUT/src/main.py --loop
WorkingDirectory=/home/pi/SPROUT
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
KillSignal=SIGINT
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
